/**
  DOM
 */
:root {
  --color-fondo: #F1F4F8;
  --color-sobre-fondo: black;
  --color-superficie: white;
  --color-sobre-superficie: black;
  --color-error: #FF5963;
  --color-sobre-error: white;
  --color-error-pulsado: #f60109;
  --color-primario: #F88A33;
  --color-primario-pulsado: #de670b;
  --color-sobre-primario: white;
  --color-secundario: dodgerblue;
  --color-sobre-secundario: white;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
  url(~assets/fonts/poppins/Poppins-Regular.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
  url(~assets/fonts/poppins/Poppins-SemiBold.ttf) format("truetype");
  font-weight: bold;
}

html {
  font-family: "Poppins";
  font-size: 20px;
}

body {
  background-color: var(--color-fondo);
  margin: 0;
  padding: 0;
}

.h1 .h2 .h3 h4 .h5 .h6 {
  font-weight: bold;
}

.grupo-input{
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 15px;
  position: relative;
}

.grupo-input label{
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-10%);
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  font-size: 0.75rem;
  color: grey;
}

input, select {
  background-color: var(--color-fondo);
  outline: 0;
  border-width: 0 0 2px;
  border-color: grey;
  height: 50px;
  font-size: inherit;
  min-width: 50%;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  width: 100%;
  display: block;
}

select {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right .75rem center;
  appearance: none;
}

.grupo-input select, .grupo-input input{
  height: calc(3.5rem + 2px);
  padding-top: 20px;
  line-height: 1.75;
}

input:focus, select:focus {
  border-color: var(--color-secundario);
}

input:focus + label, select:focus + label {
  color: var(--color-secundario);
}

input.invalido {
  border-color: var(--color-error);
}

input.invalido:focus + label {
  color: var(--color-error);
}

/**
  Componentes
 */
.tarjeta {
  padding: 10px 30px 20px;
  background-color: var(--color-superficie);
}

.boton {
  background-color: Transparent;
  background-repeat: no-repeat;
  padding: 10px 20px;
  border: none;
  font-size: 0.9rem;
  border-radius: 4px;
  font-family: inherit;
}

.boton:hover {
  cursor: pointer;
}

.boton:disabled {
  opacity: .3;
}

.boton:disabled:hover {
  cursor: default;
}

.contenedor {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(1.5rem * .5);
  padding-right: calc(1.5rem * .5);
}

.todo{
  color: greenyellow;
  background-color: black;
  padding: 10px;
  font-size: 16px;
}

@media (min-width: 720px) {
  .contenedor {
    max-width: 700px;
  }
}

@media (min-width: 1020px) {
  .contenedor {
    max-width: 900px;
  }
}

.tabla {
  width: 100%;
  border-collapse: collapse;
}

.tabla thead th {
  border-bottom: 2px solid #dee2e6;
}

.tabla th, .tabla td {
  padding: 0.75rem 1rem;
}

/**
  Características
 */
.flotante {
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2) !important;
  -moz-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2) !important;
}

.con-bordes {
  border-radius: 10px;
}

.sin-bordes {
  border: none;
}

.sin-fondo {
  background-color: Transparent;
  background-repeat: no-repeat;
}

.puntero-en-hover:hover {
  cursor: pointer;
}

.texto-centrado {
  text-align: center;
}

.en-linea {
  display: inline-flex;
  align-items: center;
}

/**
  Colores
 */
.azul {
  color: dodgerblue;
}

.rojo-peligro {
  color: var(--color-error);
}

.fondo-azul {
  background-color: dodgerblue;
  color: white;
}

.fondo-gris {
  background-color: #d4d4d9;
  color: #3f3f3f;
}

.fondo-rojo-peligro {
  background-color: var(--color-error);
}

.boton.rojo-peligro:hover:not(:disabled) {
  color: var(--color-error-pulsado);
}

.boton.azul:hover:not(:disabled) {
  color: #0073e7;
}

.boton.fondo-azul:hover:not(:disabled) {
  background-color: #0073e7;
}

.boton.fondo-gris:hover:not(:disabled) {
  background-color: #b0b0b0;
  color: black;
}

.boton.fondo-rojo-peligro:hover:not(:disabled) {
  background-color: var(--color-error-pulsado);
}

/**
Efectos de Transición
 */
